.container {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 32px;
  background: #ffffff;
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-tabs {
  overflow: visible;
  font-size: 1rem;
}

.ant-tabs-tabpane {
  display: flex;
  flex-direction: column;
}
